<div class="row">
  <div class="col-10 offset-2">
      <div class="col-8">
        <form>
          <div class="row" style="margin-top: 20px">
            <label for="post-title" class="required">Post title</label>
          </div>
          <div class="row">
            {{validated-input model=post valuePath="title" type="text" placeholder="Enter the post title" value=post.title id="post-title"
                              didValidate=didValidate required=true}}
          </div>
          <div class="row">
            <label for="post-description">Post description</label>
            {{textarea cols="30" rows="5" placeholder="Describe your question"
                       value=post.body class="form-group" id="post-description"}}
          </div>
          <div class="row">
            <label for="post-tags" class="required">Post tags (enter tags separated by comma)</label>
          </div>
          <div class="row">
            {{validated-input type="text" model=this valuePath="tagList" placeholder="Enter the tags" value=tagList id="post-tags"
                              didValidate=didValidate required=true}}
            {{log this.validations}}
          </div>
          <div class="row input-error">
            {{#if errorMessage}}
              {{errorMessage}}
            {{/if}}
          </div>
          <div class="row" style="float:right">
            <div style="padding-right:5px">
              <button type="button" class="btn btn-secondary" {{action 'cancelPost' post}}>Cancel</button>
            </div>
            <div>
              <button type="submit" class="btn btn-primary" {{action 'postQuestion' post}}>Post</button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
